<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leopisces.mybatis.mapper.DeptMapper">
    <select id="selectDeptById" resultType="dept">
        SELECT
            dept_id,
            dept_name
        FROM
            tbl_dept
        WHERE
            dept_id=#{deptId}
    </select>

    <resultMap id="deptAndempResultMap" type="dept">
        <id property="deptId" column="dept_id"></id>
        <result property="deptName" column="dept_name"></result>
        <collection property="empList"
                    ofType="cn.leopisces.mybatis.pojo.Employee">
            <id column="id" property="id"></id>
            <result column="last_name" property="lastName"></result>
            <result column="email" property="email"></result>
            <result column="salary" property="salary"></result>
        </collection>
    </resultMap>
    <select id="selectDeptAndEmpByDeptId" resultMap="deptAndempResultMap">
        SELECT
            e.`id`,
            e.`email`,
            e.`last_name`,
            e.`salary`,
            d.`dept_id`,
            d.`dept_name`
        FROM
            tbl_employee e,
            tbl_dept d
        WHERE
            e.`dept_id` = d.`dept_id`
          AND
            d.dept_id = #{deptId}
    </select>

    <resultMap id="deptAndEmpByDeptIdStep" type="dept">
        <id property="deptId" column="dept_id"></id>
        <id property="deptName" column="dept_name"></id>
        <collection property="empList"
                    select="cn.leopisces.mybatis.mapper.EmployeeMapper.selectEmpByDeptId"
                    column="dept_id">
        </collection>
    </resultMap>
    <select id="selectDeptAndEmpByDeptIdStep" resultMap="deptAndEmpByDeptIdStep">
        SELECT
            dept_id,
            dept_name
        FROM
            tbl_dept
        WHERE
            dept_id=#{deptId}
    </select>
</mapper>